# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js Test CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        node-version: [16.13, 18]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Docker login
      run: docker login -u $REGISTRY_ID -p $REGISTRY_SECRET adobeassetcompute.azurecr.io
      env:
        REGISTRY_ID: ${{ secrets.AZURE_CONTAINER_REGISTRY_ID }}
        REGISTRY_SECRET: ${{ secrets.AZURE_CONTAINER_REGISTRY_SECRET }} 
    - run: npm ci
    - run: npm test
    - run: npm run generate-coverage
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.lcov
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false

  sizewatcher:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
    - uses: actions/checkout@v4
    - run: npx @adobe/sizewatcher
      env:
        GITHUB_TOKEN: ${{ secrets.ADOBE_BOT_GITHUB_TOKEN }}

  semantic-release:
    runs-on: ubuntu-latest
    needs: [build]
    if: ${{  !contains(github.event.head_commit.message, '[ci skip]') && github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
      - run: npm run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.ADOBE_BOT_GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.ADOBE_BOT_NPM_TOKEN }}
